.list__container {
  list-style: none;
  background-color: #2b3029;
  height: 100%;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px !important;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #525750;
}
.list__container li {
  width: 100%;
}
