.header
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 3rem !important;
    padding: 0.5rem !important;
}
.text
{

  font-size: large;
  font-weight: 700;
  border-bottom: 2px solid #3c5faa;
}
